<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plano de Atendimento Individual (PIA)</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pia.css">
</head>
<body>
    <div id="menu-container"></div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    fetch('base.ejs')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            document.getElementById('menu-container').innerHTML = data;
            var btnExp = document.querySelector('#btn-exp');
            var menuSide = document.querySelector('.menu-lateral');

            btnExp.addEventListener('click', function () {
                console.log("botão clicado");
                menuSide.classList.toggle('expandir');
            });
        })
        .catch(error => {
            console.error('Fetch error:', error);
        });
});
</script>
    <div class="container">
        <h2>Plano de Atendimento Individual (PIA)</h2>

        <section identificacao="identificacao">
            <h3>1. IDENTIFICAÇÃO</h3>
            
            <form action="/salvar_pia" method="post">
                <input type="hidden" name="id" value="<%= id %>">
                <br>
                <label for="nome_usuario">Nome do Usuário:</label>
                <input type="text" id="nome_usuario" name="nome" required>
                <br>
            
                <label for="data_nascimento">Data de Nascimento:</label>
                <input type="date" id="data_nascimento" name="dataNascimento" required>
                <br>
            
                <label for="idade">Idade:</label>
                <input type="number" id="idade" name="idade" required>
                <br>
            
                <label for="filiacao">Filiação:</label>
                <input type="text" id="filiacao" name="filiacao" required>
                <br>
            
                <label for="endereco_familia">Endereço da Família:</label>
                <input type="text" id="endereco_familia" name="enderecoFamilia" required>
                <br>
            
        </section>

        <section id="informacoes_familiares">
            <h3>2. INFORMAÇÕES SOBRE FAMILIARES / REDE DE APOIO COMUNITÁRIO</h3>
            <div class="table-container">
              <table>
                <thead>
                  <tr >
                    <th >Nº</th>
                    <th>Nome</th>
                    <th>D.Nasc.</th>
                    <th>Parentesco/Vínculo</th>
                    <th>Serviço socioassistencial que frequenta</th>
                    <th>Telefones para contato</th>
                    <th>Demanda Apresentada</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><input type="text" name="familiar_nome_1"></td>
                    <td><input type="date" name="familiar_data_nascimento_1"></td>
                    <td><input type="text" name="familiar_parentesco_1"></td>
                    <td><input type="text" name="familiar_servico_1"></td>
                    <td><input type="text" name="familiar_telefone_1"></td>
                    <td><input type="text" name="familiar_demanda_1"></td>
                  </tr>
            
                </tbody>
              </table>
            </div>
          </section>
        <section id="propostas_pia">
            <h3>3. Proposta(s) do PIA</h3>
            <textarea name="propostas_pia" rows="5" cols="50"></textarea>
        </section>
        
        <section id="interfaces_rede_executiva">
            <h3>4. Interfaces com a rede executiva previstas no PIA</h3>
            <table>
                <thead>
                    <tr>
                        <th>Ação/Encaminhamento necessário</th>
                        <th>A quem se destina</th>
                        <th>Órgão ou serviço indicado para o atendimento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="acao_encaminhamento_1"></td>
                        <td><input type="text" name="a_quem_destina_1"></td>
                        <td><input type="text" name="orgao_servico_atendimento_1"></td>
                    </tr>
                  
                </tbody>
            </table>
        </section>
        <section id="opiniao_usuario">
            <h3>5. Opinião do atendido sobre o PIA (apontar se há concordância ou não com as propostas, se houve participação ativa na formulação do plano, considerando suas possibilidades)</h3>
            <textarea name="opiniao_usuario_pia" rows="5" cols="50"></textarea>
        </section>
        
        <section id="opiniao_familia">
            <h3>6. Opinião dos familiares sobre o PIA</h3>
            <textarea name="opiniao_familia_pia" rows="5" cols="50"></textarea>
        </section>
        
        <section id="equipe_tecnica">
            <h3>EQUIPE TÉCNICA RESPONSÁVEL</h3>
            <table>
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>FUNÇÃO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="nome_equipe_1"></td>
                        <td><input type="text" name="funcao_equipe_1"></td>
                    </tr>
           
                </tbody>
            </table>
        </section>
        
        <section id="informacoes_servico">
            <h3>INFORMAÇÕES DO SERVIÇO</h3>
            <p>NOME DO SERVIÇO:</p>
            <input type="text" name="nome_servico">
            <p>ENDEREÇO:</p>
            <input type="text" name="endereco_servico">
            <p>E-MAIL:</p>
            <input type="email" name="email_servico">
            <p>TELEFONE:</p>
            <input type="tel" name="telefone_servico">
        </section>
        
        <section id="plano_atendimento">
            <h3>PLANO DE ATENDIMENTO INDIVIDUAL</h3>
            <p>EIXO PESSOA COM DEFICIÊNCIA</p>
          
        </section>
        <section id="eixo_familia">
            <h3>EIXO FAMÍLIA</h3>
     
        </section>
        <section id="eixo_pessoa_com_deficiencia">
            <h3>EIXO PESSOA COM DEFICIÊNCIA</h3>
            <p>1. Motivo do encaminhamento para o serviço</p>
            <textarea name="motivo_encaminhamento" rows="5" cols="50"></textarea>
            
            <p>2. Histórico da pessoa:</p>
            <textarea name="historico_pessoa" rows="5" cols="50"></textarea>
            
            <p>3. Quanto à preservação e fortalecimento dos vínculos familiares:</p>
         
            
            <p>4. Quanto à preservação e fortalecimento dos vínculos comunitários:</p>
    
            
            <p>5. Observações quanto ao acesso aos direitos da pessoa com:</p>
           
        </section>  
        
        <section id="avaliacao_familia">
            <h3>AVALIAÇÃO DA FAMÍLIA</h3>
            
        </section>
        
        <section id="resumo_avaliacao">
            <h3>RESUMO DA AVALIAÇÃO DAS AQUISIÇÕES DO USUÁRIO</h3>
           
        </section>
        
        <section id="metas_acoes_pactuadas">
            <h3>METAS, AÇÕES PACTUADAS E ACOMPANHAMENTO</h3>
           
        </section>
        
        <section id="resultado">
            <h3>RESULTADO</h3>
            <p>Objetivo Alcançado:</p>
            <textarea name="objetivo_alcancado" rows="5" cols="50"></textarea>
        
            <p>Objetivo Não Alcançado:</p>
            <textarea name="objetivo_nao_alcancado" rows="5" cols="50"></textarea>
            
            <p>Avaliação:</p>
            <textarea name="avaliacao" rows="5" cols="50"></textarea>
        </section>
        <button type="submit">Salvar</button>
        </section>
    </form>
    </div>
</body>
</html>
